@use '../base/variables' as v;
@use '../base/mixins' as m;


.btn{
    &.green{
        background-color: v.$primary;
        border-color: v.$primary;
        &:hover{
            background-color: v.$darkenPrimary;
            border-color: v.$darkenPrimary;
        }
    }
    font-size: 1.2rem;
    @include m.tablet{
        font-size: 1.5rem;
    }

    &.offset{
        display: block;
        margin: 0 auto;
        margin-bottom: 2rem;
        width: 50%;
        font-size: 1.5rem;
        padding: 1rem;
    }
}

